# yarn 2 files are not ignored so that builds can take advantage of the host's
# cache (since the cache is a pure function of the lockfile)

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

**/node_modules

# Packed packages
/packages/*/package.tgz

**/dist
/.env
/data
/rctf.d/*
!/rctf.d/.keep
/docs/site

# Upload provider dir
/uploads

**/.DS_Store
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN
/package-lock.json
/.git

**/*.swp

# coverage
**/coverage
