RCTF_NAME=rCTF
RCTF_TOKEN_KEY=32_byte_long_base64_encoded_value_for_token
RCTF_DATABASE_PASSWORD=example_postgres_password

# the public URL for RCTF
RCTF_ORIGIN=http://127.0.0.1:8000

# unix timestamps in milliseconds
RCTF_START_TIME=123
RCTF_END_TIME=4560000000000

# uncomment these lines to enable CTFtime OAuth
# RCTF_CTFTIME_CLIENT_ID=0
# RCTF_CTFTIME_CLIENT_SECRET=abcd

# uncomment these lines to enable email auth
# RCTF_SMTP_URL=smtp://user:pass@example.com
# RCTF_EMAIL_FROM=rctf@example.com
