# Include dotfiles
!.*

# Re-add default ignore patterns
node_modules/
.git/

# Ignore yarn 2 stuff
.yarn/

# Ignore build folders
dist

# Ignore coverage reports
coverage/

# Ignore built docs
/docs/site

# Duplicate api-types ignore rules here because otherwise their paths get
# broken when eslint is run from the monorepo root
/packages/api-types/*.js
/packages/api-types/*.mjs
/packages/api-types/*.d.ts
