# rDeploy files
/.rdeploy

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/node_modules

/build
/.env
/data

# Configuration
/config/client.js

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN

*.swp

# nyc test runner
/.nyc_output
/coverage
