const shared = require('./shared')

module.exports = {
  ...shared,
  apiEndpoint: '/api/v1',
  ctfTitle: ' | ' + shared.ctfName,
  meta: {
    description: 'A description of your CTF',
    imageUrl: 'https://example.com/logo.png'
  },
  homeContent: 'A description of your CTF. Markdown supported.',
  sponsors: [{
    name: 'Big Sponsor',
    icon: 'https://example.com/logo.png',
    description: 'Brief description. Markdown supported.'
  }, {
    name: 'Smaller Sponsor',
    description: 'Brief description. Markdown supported.',
    small: true
  }]
}
