const shared = require('./shared')

module.exports = {
  ...shared,
  apiEndpoint: '/api/v1',
  ctfTitle: ' | ' + shared.ctfName,
  meta: {
    description: 'A description of your CTF',
    imageUrl: ''
  },
  logoUrl: 'https://webite.com/logo.png',
  sponsors: [
    {
      name: 'Big Sponsor',
      icon: 'https://redpwn.net/logo.png',
      description: 'Brief description'
    },
    {
      name: 'Smaller Sponsor',
      description: 'Brief description',
      small: true
    }
  ],
  ctftimeClientId: 0
}

module.exports = ret
