const ret = {
  apiEndpoint: '/api/v1',
  staticEndpoint: '/static',
  ctfTitle: ' | yourCTF',
  ctfName: 'yourCTF',
  logoUrl: 'https://webite.com/logo.png',
  sponsors: [
    {
      name: "Big Sponsor",
      icon: "https://website.com/logo.png",
      description: "Brief description"
    },
    {
      name: "Smaller Sponsor",
      description: "Brief description",
      small: true
    }
  ]
}

const shared = require('./shared')
Object.entries(shared).forEach(([key, val]) => {
  if (ret[key] === undefined) ret[key] = val
})

module.exports = ret
