body {
    background-color: #121212;
    color: #DDDDDD;
    font-family: sans-serif;
}

.nav {
    grid-area: nav;
}

.content {
    grid-area: content;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "nav"
        "content";
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 700px) {
    .wrapper {
        width: 80%;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

